*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1{
    text-align: center;
    margin-top: 20px;
}

h2{
    margin-bottom: 10px;
}

.section_etiquetas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article_etiquetas{
    width: 90%;
    background-color: rgb(212, 229, 255);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.container_ejemplos{
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
}

.etiqueta:nth-child(odd){
    background-color: rgb(132, 181, 255);
}

.container_list{
    position: relative;
    left: 30px;
}

.caja1{
    width: 90%;
    height: 100px;
    background-color: rgb(132, 181, 255);
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.subcaja{
 background-color: rgb(255, 255, 255);
}

.n1{
    position: absolute;
}

.n2{
    position: absolute;
    top: 22px;
}

.c1{
    position: relative;
}

.c2{
    position: relative;
    top: 32px;
    left: 50px;
}